
body, html {
    height: 100%;
    margin: 0;
  }


  body {  
    background-image: url('/img/lp.gif');
    background-size: cover;
    height: 100vh;
    padding:0;
    font-family: 'VT323', monospace;
    margin:0;
}


.inp-blk {
    margin-top: 10%;    
    align-items: center;
    margin-left: 30%;
}

.form-control {
    background-color: #ffffff4a;

}

.form-control:hover,.form-control:active {
    background-color: #ffffffcc;
} 

.lp-btn {
    background-color: #02000271;
    margin-top: 2%;
    float: right;
}

.lp-btn:hover,.lp-btn:active {
    background-color: rgba(0, 5, 8, 0.836);
    margin-top: 3%;
    padding: auto 50px;
}



@media only screen and (max-width: 800px)
{
    .inp-blk {
        margin-left: auto;
    }
}




/* Text glitch */
.glitch {
    position: relative;
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.788);
    font-size: 80px;
    font-family: 'VT323', monospace;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    transform: scale3d(1, 1, 1);
}
.glitch::before, .glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    color: rgb(250, 233, 233);
    clip: rect(0, 900px, 0, 0);
}
.glitch::before {
    left: 7px;
    text-shadow: 1px 0 green;
    animation: glitch-effect 3s infinite linear alternate-reverse;
}
.glitch::after {
    left: 3px;
    text-shadow: -1px 0 red;
    animation: glitch-effect 2s infinite linear alternate-reverse;
}
@keyframes glitch-effect {
    0% {
        clip: rect(98px, 9999px, 86px, 0);
   }
    5% {
        clip: rect(6px, 9999px, 49px, 0);
   }
    10% {
        clip: rect(98px, 9999px, 17px, 0);
   }
    15% {
        clip: rect(85px, 9999px, 57px, 0);
   }
    20% {
        clip: rect(67px, 9999px, 53px, 0);
   }
    25% {
        clip: rect(6px, 9999px, 96px, 0);
   }
    30% {
        clip: rect(94px, 9999px, 87px, 0);
   }
    35% {
        clip: rect(1px, 9999px, 37px, 0);
   }
    40% {
        clip: rect(69px, 9999px, 59px, 0);
   }
    45% {
        clip: rect(40px, 9999px, 70px, 0);
   }
    50% {
        clip: rect(56px, 9999px, 17px, 0);
   }
    55% {
        clip: rect(61px, 9999px, 30px, 0);
   }
    60% {
        clip: rect(100px, 9999px, 43px, 0);
   }
    65% {
        clip: rect(89px, 9999px, 30px, 0);
   }
    70% {
        clip: rect(12px, 9999px, 38px, 0);
   }
    75% {
        clip: rect(30px, 9999px, 80px, 0);
   }
    80% {
        clip: rect(54px, 9999px, 31px, 0);
   }
    85% {
        clip: rect(85px, 9999px, 20px, 0);
   }
    90% {
        clip: rect(5px, 9999px, 23px, 0);
   }
    95% {
        clip: rect(73px, 9999px, 81px, 0);
   }
    100% {
        clip: rect(51px, 9999px, 35px, 0);
   }
}


html {
    overflow: hidden;
}