* {
  font-family: 'VT323', monospace;
}

.col-centered {
  float: none;
  margin-right: auto;
  margin-left: auto;
}

.container {
  text-align: center;
}

h1 {
  font-size: 95px;
}

p {
  font-size: 40px;
}

.questionContainer {
  background-color: #520b0b;
  border-radius: 20px;
  padding: 10px 20px;
}

#text {
  color: white;
}
