body {
  margin: 0;
  background: #393e46;
}

#game_cont {
  width: 300px;
  height: 420px;
  border: 1px solid #424242;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
